@media only screen and (min-width: 1028px) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

    .second-persona {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .palette {
        width: 50%;
    }
} 