/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font-size: 16px;
    font-family: 'Poppins';
	width: 100%;
}

#banner {padding: .2rem; background-color: #fca21161; font-family: 'Bebas Neue';}
.showme{display: block;}
.hideme{display: none;}

h1, h2 {font-family: 'Bebas Neue';}


/*-------------------------HEADER-------------------------*/

.logo {
	background-color: #14213D;
	color: #E5E5E5;
	letter-spacing: 1pt;
	padding: 5px 0;
	display: flex;
	align-items: center;
}

.logo img, footer img {width: 100px; margin: 0.5rem;}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .7rem;
    font-family: 'Bebas Neue';
}

.headings h1 {
	font-size: 1.5rem;
	margin-bottom: 0px;
}

.slogan {
	letter-spacing: 2pt;
    color: #FCA311;
	font-size: 0.8rem;
	margin-top: 0px;
}

.social {margin: auto;}
.social img {width: 32px; }

.date {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #E5E5E5;
}



/*-------------------------NAV-------------------------*/


nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav {
    background-color: #E5E5E5; 
    font-family: 'Bebas Neue';
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
	display: none;
}

nav ul li a {
    display: block;
    color: black;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li.active a {
    background-color: #FCA311;
}

nav ul li a:hover {
    background-color: #14213D;
    color: #E5E5E5;
}

nav ul.open {
    display: block;
}

#hamburguerBtn span:nth-child(1) {display: block;}
#hamburguerBtn span:nth-child(2) {display: none;}

#hamburguerBtn.open span:nth-child(1) {display: none;}
#hamburguerBtn.open span:nth-child(2) {display: block;}

/*-----------------------------FOOTER-------------------------------*/

footer {
	background-color: #14213D;
	color: #E5E5E5;
	padding: 5%;
	text-align: center;
}

footer a {color: #E5E5E5; text-decoration: none;}
footer a:hover {color: #FCA311;}
.footerText1, .footerText3 {display: flex; justify-content: center;}
.space {margin-right: 4px;}
.baseFooter{border-top: 1px solid rgba(187, 187, 187, 0.233);}




/* --------------------------HOME PAGE---------------------------- */

main {padding: 0.5rem 6vw 0.5rem 6vw;}

.hero-img img{width: 100%;}

.event, .weather, .join, .hero, .spotlight1, .spotlight2, .newRelease {
	background-color: #E5E5E5;
    border: 1px solid #cfcfcf; 
	text-align: center; 
	padding: 4%;
}

.mainGrid{    
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	justify-content: center;
	align-content: center;
}

.event {grid-column: 1/3; grid-row: 2; height: auto;}
.weather {grid-column: 1/3; grid-row: 3; height: auto;}
.hero {grid-column: 1/3; grid-row: 1; height: 200px}
.spotlight1 {grid-column: 1/3; grid-row: 5; height: auto;}
.spotlight2 {grid-column: 1/3; grid-row: 6; height: auto;}
.newRelease {grid-column: 1/3; grid-row: 4; height: auto;}
.join {grid-column: 1/3; grid-row: 7; height: auto;}

.hero {
	width: auto;
	background-image: url('../images/colombia-g89ab1386c_12801.jpg');
	background-size: cover;
	background-position: center;
	display: grid;
}

.hero-txt{
	margin: auto;
	padding: 5%;
	border-radius: 15px;
	background-color: #fca211bc;
	text-align: center;
	justify-content: center;
}

.hero-txt button {
	border-radius: 15px;
	border-style: none;
    padding: 6% 8%;
    color: #E5E5E5;
    background-color: #14213D;
}
.hero-txt button:hover{background: #14213D; color: #FCA311; transform: scale(1.1);}
.btn-blue:hover {background-color: #FCA311; color: black; transform: scale(1.1);}

.join button, .yellow-btn {
	font-family: 'Bebas Neue';
	border-radius: 15px;
	font-size: 20px;
	border-style: none;
    padding: 5% 20%;
    color: black;
    background-color: #FCA311;
}

.btn-yellow{padding: 1% 4%; color: black; text-decoration: none; background-color: #FCA311; border-radius: 4px;}
.btn-yellow:hover{background-color: #14213D; color: #E5E5E5; transform: scale(1.1);}

.cloud {width: 100%; display: flex; align-content: center;}
.cloud p {margin: auto; font-size: 1.7rem;}
.weather div img {margin: auto; width:40%;}

.event h3 {font-size: 15px}
.event a:hover {color: #FCA311;}
.spotlight1, .spotlight2 {font-size: 14px;}
.spotlight1 img, .spotlight2 img {margin: auto; width: 30%;}


/*-----------------------------DISCOVER PAGE-------------------------------*/
.lastVisit {
	margin: auto;
	margin-top: -0.5rem;
	text-align: center;
	width: 400px;
	padding: .7rem;
	color: #E5E5E5;
	background-color: #14213D;
	border: 1px solid #cfcfcf;
}

.main-discover {text-align: center;}

.description {margin-top: 20px; margin-bottom: 10px;}
.description, .demography {
	padding: 2%;
	background-color: #E5E5E5;
	border: 1px solid #cfcfcf;
}
.description h1, .demography h2 {text-shadow: 2px 2px 0 black; 	color: #FCA311;}

.images-container {margin: 50px auto 50px auto;}

.images-container figure {
	margin: auto;
	padding: 1rem;
	background-color: #E5E5E5;
	border: 1px solid #cfcfcf; 
}

.images-container img {
	margin: 0px;
	width: 250px;
	height: 333.5px;
}

figcaption {
	margin: auto;
	padding: .5rem;
	width: 250px;
	background-color: #fca21191;
}

img[data-src] {
	filter: blur(.4rem);
  }
  
figure img {
	filter: blur(0rem);
	transition: filter 0.5s
}


/*-----------------------------JOIN PAGE-------------------------------*/

.thanks-page div{
	text-align: center;
	background-color: #E5E5E5;
	padding: 2%;
	border-radius: 10px;
	width: 50%;
	margin: 5% 25%;
}

.form-join {
	min-width: 250px;
	background-color: #E5E5E5;
	border-radius: 4px;
}

#first-name, #last-name, #title, #email, #phone, #business-name, #describe-business{
	font-size: 13px;
	width: 100%;
	padding: 14px;
	border-radius: 4px;
	border: 1px solid #E5E5E5;
}

.form-join h1, .form-join h2{color: #14213D;font-size: 20px;}
textarea{height: 100px;}
fieldset{margin-top: 5px; border: none;}
.form-join label {cursor: pointer;}
.form-join label.top {display: block; padding-top: 1rem;}

.form-join label.sbs{
	min-width: 40px;
	max-width: 250px;
	border: 2px solid #14213D;
	display: block;
	border-radius: 5px;
	padding: 1rem;
}

.form label.top input:required {
	border-left: red solid 6px;
}

.form label.top input:required:valid {
	border-left: green solid 6px;
}

.submitBtn {
	margin: 0 25%;
	background: #FCA311;
	width: 50%;
	padding: 1rem;
	border: none;
	border-radius: 4px;
}

.submitBtn:hover{
	background-color: #14213D;
	color: #E5E5E5;
}

.membership-div ul {
	display: none;
}